:root{
  --colorvar: 255;
}
body{
  background-color: #b1387e;
  width: auto;
  font-family: sans-serif;
}

.timer{
  display: inline-block;
  font-size: 50px;
  border: 5px solid #00ff1f;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.best-time{
  display: inline-block;
  font-size: 50px;
  float: right;
  border: 5px solid #00ff1f;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.rules{
  text-align: center;
  font-size: 25px;
}

.new-game{
  text-align: center;
  font-size: 20px;
}

table{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  border-spacing: 5px;
}

.number-grid td{
  width: 60px;
  height: 60px;
  background-color:rgb(0,0,255);
  border: 5px solid #00ff1f;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 5px;
}

.best-scores td{
  width: 40px;
  height: 40px;
  background-color: rgb(0,0,255);
  border: 4px solid #00ff1f;
  border-radius: 4px;
  text-align: center;
  color: white;
  padding: 4px;
}

.countd{
  font-size: 50px;
  text-align: center;
}

.final-time, .restart-msg, .restart-btn{
  display:none;
  text-align: center;
  font-size: 50px;
}

.restart-btn{
  color: #00ff1f
}

@media (max-width: 500px){
  .number-grid td{
    width: 50px;
    height: 50px;
    padding: 3px;
  }
  .best-scores td{
    width: 30px;
    height: 30px;
    border: 3px solid #00ff1f;
    border-radius: 4px;
    padding: 2px;
    font-size: 10px;

  }
  .best-scores{
    border: none;
  }
  .timer, .best-time{
    font-size: 35px;
  }
}

@media (max-width: 400px){
  .number-grid td{
    width: 40px;
    height: 40px;
    padding: 2px;
    border: 3px solid #00ff1f;
  }
  .timer, .best-time{
    font-size: 30px;
  }
  table{
    border-spacing: 2px;
    padding: 3px;
  }

}

@media (max-width: 350px){
  .restart-msg, .final-time, .restart-btn{
    font-size: 35px;
  }
  .timer, .best-time{
    font-size: 25px;
}

@media (max-width: 300px){
  .number-grid td{
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 3px solid #00ff1f;
  }
  th{
    font-size: 10px;
  }
  .timer, .best-time{
    font-size: 20px;
  }
}

@media (max-width: 250px){
  table{
    border-spacing: 1px;
    padding: 2px;
  }
  .number-grid td{
    width: 25px;
    height: 25px;
    border: 2px solid #00ff1f;
  }
  .timer, .best-time{
    font-size: 15px;
    border: 2px solid #00ff1f;
    border-radius: 10px;
  }
  .restart-msg, .final-time, .restart-btn{
    font-size: 25px;
  }
}
